@font-face {
    font-family: 'Paulovelle';
    src: url('../heartshaker/Paulovelle.otf');
}

body {
    background-color: #532e18;
    font-family: 'Paulovelle';
    color: white;
    font-size: larger;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.text-container {
    pointer-events: none;
    transition-duration: 1s;
    position: absolute;
    top: 72%;
    left: 11%;
    transform: translate(0%, -10%);
    text-align: center;
    width: 80svw;
    animation: text 1s infinite;
}

canvas {
    background: transparent;
    display: block;
}

/*@keyframes text {
    0% {
        transform: scale(1);
    }

    12% {
        transform: scale(1.03);
    }

    24% {
        transform: scale(1.01);
    }

    36% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}*/

.top-text {
    position: absolute;
    top: 10svh;
    font-size: 2em;
    color: #f7f7f7;
    text-shadow: 0 0 20px #7e7e7e;
}