@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

body {
    font-family: 'Mina', sans-serif;
    background-image: url(../img/space.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.moon {
    filter: grayscale(100%);
    transition: all 2.1s;
    /*transition: filter 2.4s;*/
    user-select: none;
    cursor: pointer;
    margin-top: 30svh;
    width: 12svw;
    filter: brightness(85%);
    -webkit-user-drag: none;
}

.moon:hover {
    filter: brightness(120%) drop-shadow(0 0 60px rgb(15, 15, 15));
    scale: 112%;
    rotate: -4.5deg;

}

.star {
    position: absolute;
    width: 24px;
    /* Set the width and height as per your star image */
    height: 24px;
    background-image: url('../img/star.png');
    /* Replace 'star.png' with your star image URL */
    background-size: cover;
    cursor: pointer;
}

.star:hover {
    transition-duration: 500ms;
    filter: brightness(150%);
}

.star:hover .tooltip {
    display: block;
}

.tooltip {
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: rgba(27, 27, 27, 0.7);
    color: rgb(255, 243, 216);
    padding: 4px 10px;
    border-radius: 10px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}