body{
    display: grid;
    justify-items: center;
}

table{
    border: 1px solid black;
}

table tr{
    height: 60px;
    border: 1px solid black;
}

table td{
    border: 1px solid black;
    width: 60px;
}